table.dataTable {
  margin-top: 1rem !important;
  margin-bottom: 0.5rem !important;
}

/**
 * Boutons (buttons)
 */

.dt-buttons button {
  /* Style de btn-sm : */
  padding: 0.25rem 1rem !important;
  font-size: 0.875rem !important;
  line-height: 1.5;
  border-radius: 0;
}

ul.pagination li.paginate_button a {
  padding: 0.25rem 0.65rem !important;
  font-size: 0.875rem !important;
  line-height: 1.5;
}

/**
 * Filtres (searchPanes)
 */

div.dt-button-collection {
  border-radius: var(--bs-border-radius);
}

.dtsp-titleRow .dtsp-title {
  display: none;
}

.dtsp-titleRow button {
  margin: 0 0 0.25rem 0.25rem;
  /* Style de btn-sm : */
  padding: 0.25rem 0.5rem !important;
  font-size: 0.875rem !important;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.dtsp-subRow1 .form-control {
  height: calc(1.5em + 0.5rem + 2px);
  line-height: 1.5;
  border-radius: 0.2rem;
}

.dtsp-searchPanes .dtsp-searchPane {
  margin-top: 0 !important;
  margin-bottom: 0.75rem !important;
}

div.dtsp-panesContainer div.dataTables_wrapper div.dataTables_scrollBody {
  height: auto !important;
}
